@font-face {
    font-family: generalSan-Medium;
    src: url("/css/font/GeneralSans-Medium.ttf");
}

@font-face {
    font-family: generalSan-Semibold;
    src: url("/css/font/GeneralSans-Semibold.ttf");
} 

@font-face {
    font-family: pilcrow-Medium;
    src: url("/css/font/PilcrowRounded-Medium.ttf");
} 

@font-face {
    font-family: pilcrow-Semibold;
    src: url("/css/font/PilcrowRounded-Semibold.ttf");
} 

@font-face {
    font-family: satoshi-Black;
    src: url("/css/font/Satoshi-Black.ttf");
} 

@font-face {
    font-family: satoshi-Bold;
    src: url("/css/font/Satoshi-Bold.ttf");
} 


@font-face {
    font-family: satoshi-Medium;
    src: url("/css/font/Satoshi-Medium.ttf");
} 

@font-face {
    font-family: tanker-Regular;
    src: url("/css/font/Tanker-Regular.ttf");
} 